/* main */

@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
  }

a {
    border: 1px black solid;
}  

/* navbar */

.header-navbar {
    font-weight: 800;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 10px;
    background-color: gray;
}

.navbar_active {
    opacity: 0.2;;
}

.navbar__menu-list {
    list-style: none;
    display: flex;    
}

.navbar__menu-link {
    text-decoration: none;
    color: black;
    margin-right: 20px; 
}

.header-wrapper {
    background-color: bisque;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-image {    
    width: 200px;
    height: 200px;
    border-radius: 50%;    
}

.header-description_p {
    font-size: 1.2rem;
}

.header-description_p2 {
    font-size: 0.8rem;
}

/* Projects section */

#projects-section {
    text-align: center;
    -webkit-box-shadow: 0px 15px 17px -9px rgba(166,166,166,0.39);
    -moz-box-shadow: 0px 15px 17px -9px rgba(166,166,166,0.39);
    box-shadow: 0px 15px 17px -9px rgba(166,166,166,0.39);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#projects-section-title {
    max-width: 650px;
    margin: 0 auto 6rem auto;
    color: black;
    border-bottom: 0.2rem solid black;
}

@media (max-width: 400px) {
    #projects-section-tittle {
        margin: 0 auto 2rem auto;
        color: #000;
    }
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.projects-image {
    width: 100%;
    height: calc(100% - 6.8rem);
    object-fit: cover;
}


/* CV section */

.cv-section-header {
    text-align: center;
}

#cv-section-title {
    max-width: 650px;
    margin: 0 auto 6rem auto;
    color: black;
    border-bottom: 0.2rem solid black;
}

#cv {
    text-align: center;
    display: flex;
}

.cv-pole {
    display: flex;
    align-items: center;
}

.cv-title {
    margin-right: 5px;
}

 /* cv-left */

 #cv-left-part {
     width: 20%;
     display: flex;
     flex-direction: column;
     padding-left: 15px;
 }

.cv-photo {
    border-radius: 2rem;
    width: 200px;
    height: 200px;
}

/* cv-right */
#cv-right-part {
    width: 80%;   
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}